body *{
    font-family: 'Fantasy', Copperplate;
}

h1 {
    font-weight: 900;
    font-family: 'Fantasy', Papyrus;
    color: navy;
    margin: 0 auto; text-align: center

}

h2 {
    color: #6082B6;
    border-style:dashed;
}

body {
    background-color: #F0FFFF;
}

.page {
    width: 850px;
    background-color: #F0FFFF,
;
    margin: auto;
    padding: 30px;
    padding-top: 35px;
}

.vis-container {
     margin: auto;
}

.description h2,
h1 {
    margin-top: 0px;
}


.pure-g {
    margin-bottom: 40px;
}


.small-font {
    font-size: 14px;
}
